<div class="section faq">
  <div class="area">
    <h1>Service &amp; Billing Made Simple</h1>
    <div class="faq-column first">
      <h4>Service</h4>
      <h5>File size limit</h5>
      <p>There is <b>NO</b> file size limit. Files that are more than 1GB <b>might</b> require a support engineer to adjust some settings. Good news is that the MaxCDN Speed Team is proactive and will reach out if there is an issue pulling larger files from your origin.</p>
      <h5>Range requests</h5>
      <p>We support range request as a free feature add-on. The setting can be enabled by a support engineer.</p>

      <h5>Video</h5>
      <ul>
      <li>We support HTML5/HTTP psuedo-streaming for the following file types: mp4, m4a, m4v, mov, flv.</li>
      <li>We <b>DO NOT</b> support the following file types: swf, wmv, mpg, 3gp, nsv, asf, xap.</li>
      <li>We <b>DO NOT</b> support the following protocols: RTMP, RTSP, HTTP Live, HDS, DASH, Shoutcast, BitTorrent Live Streaming, Microsoft Smooth Streaming.</li>
      </ul>
      <h5>FTP for storage</h5>
      <ul>
      <li>We do not have FTP support. This platform only supports Origin Pull zones.</li>
      <li>Our servers pull content from your servers via HTTP(s).</li>
      <li>We <b>DO NOT</b> support any of the following protocols: FTP, SFTP, LFTP, SSH, RSYNC, SCP or Git.</li>
      <li>If you need storage we suggest using AWS S3.</li>
      <li>If you require storage contact <a href="mailto:sales@maxcdn.com">sales@maxcdn.com</a>.</li>
      </ul>
      <h5>SSL</h5>
      <ul>
      <li>We offer 4 kinds of SSL: Dedicated (IP), Wildcard, Shared and SNI.</li>
      <li>Shared and SNI are free of charge.</li>
      <li>Shared SSL <b>CAN NOT</b> have custom CNAMES. Shared SSL urls looks like: https://zone-bwh1337.bwhog.net</li>
      <li>Dedicated and SNI SSL can have custom CNAMES e.g.: https://cdn.yourdomain.com</li>
      <li>Dedicated is $250/month.</li>
      <li>Wildcard SSL is $500/month.</li>

      </ul>
      <h5>Support policy</h5>
      <p>We offer chat and email support 24/7/365. Priority support is available via MaxCDN Enterprise.</p>

      <h5>SLA (Service Level Agreement)</h5>
      <p>We offer the same SLA as all MaxCDN customers. You can read the SLA policy <a href="https://www.maxcdn.com/legal/#sla" target="_blank">here</a>.</p>

      <h5>Adult content</h5>
      <ul>
      <li>You may distribute adult content as long as it is legal and you own the copyrights.</li>
      <li>Any illegal content, DMCA complaints or Malware distribution will result in immediate account suspension.</li>
      </ul>
      <h5>API</h5>
      <ul>
      <li>Bandwidth Hog <b>DOES NOT</b> offer an API at this time.</li>
      <li>If you need an API please email <a href="mailto:sales@maxcdn.com">sales@maxcdn.com</a>.</li>
      </ul>
    </div>
    <div class="faq-column">
      <h5>Datacenters</h5>
      <p>We offer <b>6 datacenters</b> (also known as POPs) in total.</p>
      <ul>
        <li>3 datacenters in the US</li>
        <li>3 datacenters in Europe</li>
        <li>In case you need more coverage go to <a href="https://www.maxcdn.com/?ref=bwhog" target="_blank">www.maxcdn.com</a>.</li>

      <h5>Access Logs</h5>
      <ul>
      <li>We offer access logs as an add-on called Raw Logs to S3.</li>
      <li>The add-on is an extra monthly charge of $100.</li>
      <li>Requires an Amazon S3 bucket.</li>
      </ul>
      <h5>Mid-tier cache</h5>
      <ul>
      <li>We offer a mid-tier caching solution as an add-on called Origin Shield.</li>
      <li>The add-on is an extra monthly charge of $200.</li>
      </ul>
      <h5>Secure Tokens</h5>
      <ul>
      <li>The add-on is an extra monthly charge of $150.</li>
      <li>Can be enabled in the Control Panel.</li>
      <li>We have multiple code examples (PHP, Node.js, Python,Ruby, .NET) for creating compatible tokens.</li>
      </ul>
      <h5>Bandwidth Hog vs. MaxCDN</h5>
      <p>The differences between the two service offerings are the following. With Bandwidth Hog you get 11 less locations, there is no VIP Priority Support, storage, custom solutions (including billing terms), trials, custom HTTP rules, engineer access or full site caching. If you require those options please feel free to email <a href="mailto:sales@maxcdn.com">sales@maxcdn.com</a>.</p>

      <br /><br /><h4>Billing</h4>
      <h5>Trial account</h5>
      <p>We do not offer trial accounts for this service.</p>

      <h5>Payment methods</h5>
      <p>We accept Visa, MasterCard, American Express, Discover, and PayPal.</p>

      <h5>Billing Process</h5>
      <ul>
      <li>To be on the Bandwidth Hog service you must pay a $249/month platform fee.</li>
      <li>This provides you access to Bandwidth Hog and you can use our 1¢/gb pay as you go pricing.</li>
      <li>There is no platform fee if you signed up before October 1, 2015 or if you pick one of the bigger plans. You can also choose a bandwidth package which includes a set amount of bandwidth (e.g. 100TB) for a fixed price. After you pass the set amount you will be charge per gigabyte.</li>
      <li>ALL overages are billed in $500 increments. For example if you have $1,000 of overages for a certain month, you will have two invoices and two credit card charges.</li>
      </ul>
      <h5>Contracts</h5>
      <p>We do not offer contracts. If you would like a contract email <a href="mailto:sales@maxcdn.com">sales@maxcdn.com</a>.</p>

      <h5>Coupon codes</h5>
      <p>We <b>DO NOT</b> offer or accept coupons.</p>

      <h5>Refunds</h5>
      <p>We <b>DO NOT</b> offer refunds of any kind.</p>
    </div>
  </div>
</div>
