<div class="section faq" style="padding: 10px 0 79px">
  <div class="area">
    <h1>FAQ</h1>
    <div class="faq-column first">
      <h5>Why is this happening?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      <h5>When will my account be migrated over?</h5>
      <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="faq-column">
      <h5>Will my pricing stay the same?</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h5>What a out bulleted lists?</h5>
      <ul>
      <li>How about.</li>
      <li>Dem.</li>
      <li>Apples.</li>
      </ul>
    </div>
  </div>
</div>
