<footer id="footer">
  <div class="area">
    <div>
      <p>Made by <a href="https://www.maxcdn.com/?ref=bwhog">MaxCDN</a> in Los Angeles</p>
    </div>
    <ul>
      <li><a href="https://www.maxcdn.com/team/" target="_blank">About us</a></li>
      <li><a href="https://www.maxcdn.com/legal/" target="_blank">Privacy &amp; Terms</a></li>
    </ul>
    <ul>
      <li><a href="https://twitter.com/bandwidth_hog">@bandwidth_hog </a></li>
      <li><a href="mailto:&#111;&#105;&#110;&#107;&#64;&#109;&#97;&#120;&#99;&#100;&#110;&#46;&#99;&#111;&#109;">&#111;&#105;&#110;&#107;&#64;&#109;&#97;&#120;&#99;&#100;&#110;&#46;&#99;&#111;&#109;</a></li>
      <li><a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#109;&#097;&#120;&#099;&#100;&#110;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#109;&#097;&#120;&#099;&#100;&#110;&#046;&#099;&#111;&#109;</a></li>
    </ul>
  </div>
</footer>
</div>
</div>
<div id="om-gq6ymyzprvshwzm6-holder"></div><script>var gq6ymyzprvshwzm6,gq6ymyzprvshwzm6_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){gq6ymyzprvshwzm6_poll(function(){if(window['om_loaded']){if(!gq6ymyzprvshwzm6){gq6ymyzprvshwzm6=new OptinMonsterApp();return gq6ymyzprvshwzm6.init({u:"212.214200",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optinmonster.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;gq6ymyzprvshwzm6=new OptinMonsterApp();gq6ymyzprvshwzm6.init({u:"212.214200",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
(function(d,s,i,r) {
if (d.getElementById(i)){return;}
var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/394224.js';
e.parentNode.insertBefore(n, e);
})(document,"script","hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-64960747-1', 'auto');
ga('send', 'pageview');

</script>
<script type="text/javascript">
adroll_adv_id = "YG2XODOP7JF4XFKIJHODC5";
adroll_pix_id = "7HQEKVS2VFEENJXY4G2AOB";
(function () {
  var _onload = function(){
      if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
      if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
  };
  if (window.addEventListener) {window.addEventListener('load', _onload, false);}
  else {window.attachEvent('onload', _onload)}
}());
</script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha384-+54fLHoW8AHu3nHtUxs9fW2XKOZ2ZwKHB5olRtKSDTKJIb1Na1EceFZMS8E72mzW" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/jquery.main.js"></script>
