<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Content Delivery for High Bandwidth Services | Bandwidth Hog</title>
	{{ partial "header.html" . }}
</head>

<body class="home">
	<div id="index">
		<div id="wrapper">
			<header id="header">
				<div class="area">
					<div class="logo">
						<a href="/">
							<img src="images/logo-white.png" alt="Bandwidth Hog">
						</a>
					</div>
					<div class="pricing"><a href="pricing/">Pricing</a>
						<div class="login" target="_blank"><a href="https://cp.bandwidthhog.com/" target="_blank">Login</a>
							<div class="by">Powered by <a href="https://www.maxcdn.com/?ref=bwhog" target="_blank">MaxCDN</a></div>
						</div>
			</header>
			<main id="main" role="main">
				<div class="visual">
					<div class="bg-stretch">
						<img src="images/header.jpg" alt="image description">
					</div>
					<div class="text-holder">
						<div class="area">
							<h1>
								<span>Content delivery for</span> High Bandwidth Services</h1>
							<h2>Reliable content delivery starting at 1¢/GB</h2>
							<a href="pricing/" class="button orange" style="margin:15px 0;">Sign Up</a>&nbsp;&nbsp;&nbsp;
							<a href="#form-popup-rm" class="open-popup-link" style="margin:15px 0;">Contact Us</a>
						</div>
					</div>
				</div>
				<div id="sticky-subnav"></div>
				<div class="subnav">
					<div class="text-wrap">
						<div class="area">
							<ul>
								<li class=""><a href="#file" class="scroll">File Distribution</a></li>
								<li class=""><a href="#software" class="scroll">Software Updates</a></li>
								<li class=""><a href="#multi" class="scroll">Multi-CDN Strategies</a></li>
								<li class=""><a href="#powered" class="scroll">Powered by MaxCDN</a></li>
						</div>
					</div>
				</div>
				<section id="file">
					<span id="file-top"></span>
					<div class="section style6">
						<div class="area">
							<div class="image video">
								<img src="images/bhog-index-scene1-2.png" alt="image description">
							</div>
							<div class="text-area">
								<h2 class="section-title dark">Your customers love to share files</h2>
								<h3 class="section-subtitle dark">Now you do too at 1&cent;/GB</h3>
								<p>No more keeping tabs on usage and hoping you chose the right package before signing a contract. Make your customers happy and do it month by month.</p>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>Software</li>
									<li><i class="fa fa-li fa-check"></i>Media</li>
									<li><i class="fa fa-li fa-check"></i>Large Files</li>
									<li><i class="fa fa-li fa-check"></i>Game Assets</li>
								</ul>
							</div>
						</div>
					</div>
					<span id="file-bottom"></span>
				</section>
				<section id="software">
					<span id="software-top"></span>
					<div class="section style7">
						<div class="area">
							<div class="image game">
								<img src="images/patching-update.png" alt="image description">
							</div>
							<div class="text-area">
								<h2 class="section-title">Reliable and secure patching</h2>
								<h3 class="section-subtitle">Keep your customer's software up to date</h3>
								<p>Bandwidth Hog pulls your software updates/patches from your origin server. We support range request, secure token urls and SSL. </p>
								<p class="engine-list"><i class="fa fa-apple"></i> Update Engine<i class="fa fa-apple" style="margin-left:15px;"></i> <i class="fa fa-windows"></i> Sparkle<i class="fa fa-apple" style="margin-left:15px;"></i> <i class="fa fa-windows"></i> Squirrel</p>
							</div>
						</div>
						<span id="software-bottom"></span>
				</section>
				<section id="multi">
					<span id="multi-top"></span>
					<div class="contorl-panel">
						<div class="bg-stretch">
							<img class="panel-bg" src="images/multi-bg.png" alt="image description">
						</div>
						<div class="text-holder">
							<div class="area">
								<h2 class="section-title">2 CDNs are better than 1</h2>
								<h3 class="section-subtitle dark">Increase Reliability with Multi-CDN</h3>
								<p class="small-width-p">With Bandwidth Hog, you can eliminate single point of failures, balance traffic based on business requirements and manage provider costs. We integrate perfectly with AWS Route 53, Dyn Traffic Director, Cedexis Openmix and NSONE.</p>
								<ul class="multi-partners">
									<li id="amazon">
										<img src="images/amazon.png" alt="image description">
									</li>
									<li id="dyn">
										<img src="images/dyn.png" alt="image description">
									</li>
									<li id="cedexis">
										<img src="images/cedexis.png" alt="image description">
									</li>
									<li id="nsone">
										<img src="images/nsone.png" alt="image description">
									</li>
								</ul>
							</div>
						</div>
					</div>
					<span id="multi-bottom"></span>
				</section>
				<section id="powered">
					<span id="powered-top"></span>
					<div class="style7">
						<div class="text-wrap">
							<div class="area">
								<h2 class="section-title">Powered by MaxCDN</h2>
								<h3 class="section-subtitle">Proven technology and support</h3>
								<p>Bandwidth Hog is powered by the MaxCDN platform that continues to scale and handle trillions of successful requests a year. This also means you get access to the MaxCDN Speed Team. Say hello to integration and account specialists that are available
									24/7/365. CDNs have never had such value until now.</p>
							</div>
						</div>
					</div>
					<span id="powered-bottom"></span>
				</section>
				<div class="style8">
					<div class="text-wrap">
						<div class="area">
							<h1>Are you in?</h1>
							<h2>Sign up today and lock in 1¢/GB pricing.</h2>
							<br />
							<a href="pricing/" class="button orange" style="margin:15px 0;">Sign Me Up</a>
							<br />
							<br />
						</div>
					</div>
				</div>
			</main>

			<div id="exit-popup" class="white-popup mfp-hide">
				<p class="popup-title">Lock in 1&cent;/GB Pricing Today!</span>
				</p>
				<div class="checklists">

					<ul class="fa-ul first-list">
						<li><i class="fa-li fa fa-check"></i>1¢/GB Bandwidth</li>
						<li><i class="fa-li fa fa-check"></i>100 CNAMEs</li>
						<li><i class="fa-li fa fa-check"></i>Free HTTP Requests</li>
						<li><i class="fa-li fa fa-check"></i>Free 24/7/365 chat &amp; email support</li>
					</ul>

					<ul class="fa-ul">
						<li><i class="fa-li fa fa-check"></i>Free secure tokens</li>
						<li><i class="fa-li fa fa-check"></i>Free range requests</li>
						<li><i class="fa-li fa fa-check"></i>Dedicated, SNI and Shared SSL available</li>
						<li><i class="fa-li fa fa-check"></i>Mid-tier cache available</li>
					</ul>

				</div>

			</div>
			<div id="form-popup-rm" class="white-popup mfp-hide">
				<p class="popup-title">Contact Us</p>
				<p class="popup-subtitle-small">We know, it seems too good to be true.</p>
				<div class="form">
					<script>
						var addHoneypotRm = function() {
							$('#form-popup-rm form').find("input[name='content__c']").val('TjMWJFGCrZsrgkTiumWainoraTaYandAd8bapL8Xdks');
						}
					</script>
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
						hbspt.forms.create({
							css: '',
							portalId: '394224',
							formId: 'b10fa39d-680d-45d9-9bda-a48e16de4de9',
							onFormSubmit: addHoneypotRm
						});
					</script>
				</div>
			</div>
			{{ partial "footer.html" .}}
</body>

</html>
